body
{
    font-family: 'Oxygen', sans-serif;
    overflow-x: hidden;
}

#header-nav
{
	background-color: #000;
}

.navbar-brand h1 { /* Restaurant name */
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a
{
	color: #fff;
}

#collapsable-nav
{
	background-color: #111511;
}

#collapsable-nav li:hover
{
	background-color: #222622;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.menu-item
{
	background-color: #88cc66;
	padding: 20px;
}

.item-title
{
	font-weight: bold;
	font-size: 1.2em;
}

.main-title
{
	font-size: 2.5em;
	padding-bottom: 20px;
}

/*.container {
     padding-right: 0;
     padding-left: 0; 
     margin-right: 20p;
     margin-left: auto;
}*/
